.venv/
__pycache__/
*.pyc
.DS_Store
data/uploads/*
data/results/*
data/notes/*
data/native-recordings/*
!data/uploads/.gitkeep
!data/results/.gitkeep
!data/notes/.gitkeep
!data/native-recordings/.gitkeep
